# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Data files
data/*/*.txt
data/tagged/*/*.txt
*.7z

# Qt pro.user
*.pro.user